// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';


// =====================================================================================================================
// *** Custom styles ***
// =====================================================================================================================
@import "vars";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Playfair+Display:400,700&subset=cyrillic');


// *** Styles debuger ***
// =====================================================================================================================
//*,
//*::before,
//*::after {
//	border: 1px solid red;
//}


// *** Common styles ***
// =====================================================================================================================
body {
	overflow-x: hidden;
	color: $textColor;
	font-family: $PlayfairDisplay-Regular;
	font-size: 16px;
	line-height: 24px;
}


// *** MAIN HEADER ***
// =====================================================================================================================
.navbar {
	height: 148px;
	margin-bottom: 0;
	padding: 17px 0;
	border: 0;
	@include box-shadow(1px, 1px, 6px, rgba($blackColor, 0.33));
	&-default {
		background-color: $whiteColor;
		border-color: transparent;
	}
	&-static-top {
		border-width: 0;
	}
	&-header {
		display: flex;
		@include min-screen($tablet) {
			float: none;
		}
	}
	.logo {
		margin: 0;
		padding: 0;
	}
}

.region-topleft,
.region-topright {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.region-topmidle {
	.logo {
		img {
			width: 117px;
			height: 115px;
		}
	}
}
.region-topright {
	align-items: flex-end;
}

#block-telephonetop,
#block-schedule {
	> .field {
		display: flex;
		align-items: center;
	}
}
#block-topmenuleft,
#block-topmenuright {
	.nav {
		display: flex;
		margin-bottom: 25px;
		> li {
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
			> a {
				padding: 0;
				color: $textColor;
				font-size: 15px;
				line-height: 24px;
				letter-spacing: 0.025em;
				transition: all 0.25s;
				&:hover,
				&:focus {
					color: $highlightColor;
					background-color: transparent;
				}
			}
		}
	}
}
#block-topmenuright {
	.nav {
		justify-content: flex-end;
	}
}

.topleft__img {
	width: 29px;
	height: 29px;
	margin-right: 10px;
}
.topleft__phone {
	span,
	a {
		display: block;
	}
	a {
		color: $textColor;
		font-size: 12px;
		line-height: 1;
		letter-spacing: 0.025em;
		text-decoration: underline;
		text-align: center;
		cursor: pointer;
	}
}
.topright__img {
	width: 25px;
	height: 25px;
	margin-right: 15px;
}
.topright__shedule {
	span {

	}
}


// *** INNER PAGES ***
// =====================================================================================================================

// Titles
.block-title {
	position: relative;
	margin: 0 0 13px;
	padding-bottom: 45px;
	font-family: $PlayfairDisplay-Bold;
	font-size: 30px;
	line-height: 28px;
	letter-spacing: 0.025em;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		display: block;
		width: 236px;
		height: 30px;
		transform: translateX(-50%);
	}
}

// Banner
.inner-page-banner {
	position: relative;
	color: $whiteColor;
	//background-image : attr(data-image-src url);
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba($blackColor, .67);
	}

	&__content {
		position: relative;
		z-index: 1;
		padding: 50px 0 100px 165px;
		h1 {
			width: 100%;
			max-width: 60%;
			margin: 0 0 10px;
			font-family: $PlayfairDisplay-Bold;
			font-size: 30px;
			line-height: 38px;
			letter-spacing: 0.05em;
		}
	}

	.field--name-field-small-body {
		width: 100%;
		max-width: 65%;
		margin-bottom: 40px;
		font-family: $Montserrat-Regular;
		font-size: 16px;
		line-height: 26px;
	}

	.field--name-field-icon {
		display: flex;
		> .field--item {
			margin-right: 60px;
			.field-collection-item--name-field-icon {
				.content {
					display: flex;
					align-items: center;
					.field--name-field-image {
						margin-right: 20px;
					}
				}
			}
		}
	}
}

// Advantages block
#block-osobennostinasegopansionata {
	padding: 90px 0;
	background: $highlightColor url("../images/backgrounds/features_pattern.jpg") repeat;
	color: $whiteColor;
	text-align: center;
	.block-title {
		&::after {
			background: transparent url("../images/icons/title-separator.png") no-repeat;
		}
	}
	.field--name-body {
		margin-bottom: 52px;
	}
	.field--name-field-image.field--type-field-collection {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		> .field--item {
			flex: 1 330px;
			max-width: 330px;
			margin-bottom: 41px;
		}
	}
	.field--name-field-image.field--type-image {
		margin-bottom: 21px;
	}
	.field--name-field-title-image {
		font-family: $PlayfairDisplay-Bold;
		font-size: 22px;
		line-height: 30px;
	}
}

// Gallery block
#block-views-block-gallery-service-block-1 {
	padding: 95px 0 50px;
	text-align: center;
	.block-title {
		&::after {
			background: transparent url("../images/icons/title-separator_highlight.png") no-repeat;
		}
	}
	.views-field-field-gallery-text {
		max-width: 30%;
		margin: 0 auto 50px;
		.field-content {
			color: $hardGrayColor;
		}
	}
	.views-field-field-gallery {
		padding-top: 10px;
		a {
			@include button($whiteColor, $highlightColor, $highlightColor, $textColor, transparent, $textColor);
		}
	}
	.inner-gallery {
		> .views-field {
			position: relative;
			span {
				position: absolute;
				bottom: 30px;
				left: 30px;
				color: $whiteColor;
				font-family: $Montserrat-Bold;
				font-size: 18px;
				line-height: 24px;
				text-align: left;
				opacity: 0;
				transition: all 0.25s;
			}
			a {
				position: relative;
				display: block;
				outline: 0;
				&::before,
				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					display: block;
					opacity: 0;
					transition: all 0.25s;
				}
				&::before {
					z-index: -1;
					border: 1px solid $highlightColor;
				}
				&::after {
					background: linear-gradient(to top, rgba(0, 0, 0, .7), transparent);
				}
			}
			&:hover {
				span {
					opacity: 1;
				}
				a {
					&::before,
					&::after {
						opacity: 1;
					}
					&::before {
						transform: translate(10px, 10px);
					}
				}
			}
		}
	}

	// Masonry styles
	.inner-gallery {
		> .views-field {
			float: left;
			width: 260px;
			margin-bottom: 30px;
		}
		.views-field-field-image-u-big {
			width: 845px;
		}
		//.views-field-field-image-u-medium {
		//	height: 445px;
		//}
	}
}

// Callback block
#block-vebforma-2 {
	position: relative;
	padding: 93px 0 100px;
	background: #3c4a5a url("../images/backgrounds/callback_bg.jpg") no-repeat;
	background-size: cover;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		background-color: rgba(0, 0, 0, 0.6);
	}
	.block-title {
		color: $whiteColor;
		text-align: center;
		&::after {
			background: transparent url(../images/icons/title-separator.png) no-repeat;
		}
	}
}

// Video block
#block-views-block-youtube-link-block-1 {
	padding: 50px 0;
	.youtube-wrapper {
		position: relative;
		height: 600px;
		overflow: hidden;
		background: #525252 url("../images/youtube_preview.jpg") no-repeat;
		background-size: cover;
	}
	.youtube-link {
		position: absolute;
		top: 50%;
		left: 50%;
		display: inline-block;
		width: 86px;
		height: 86px;
		border-radius: 100%;
		background-color: $whiteColor;
		transform: translate(-50%, -50%);
		text-indent: -9999px;
		cursor: pointer;
		transition: all 0.25s;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 0;
			height: 0;
			border-top: 11.5px solid transparent;
			border-bottom: 11.5px solid transparent;
			border-left: 16px solid $highlightColor;
			transform: translate(-50%, -50%);
		}
		&:hover {
			transform: translate(-50%, -50%) scale(1.1);
		}
	}
}

// Page "Services inner"
.service-descr {
	position: relative;
	padding: 90px 0;
	&::after {
		content: '';
		position: absolute;
		top: -22%;
		right: -44%;
		z-index: -1;
		display: block;
		width: 853px;
		height: 853px;
		background-color: rgba($grayColor, .5);
		transform: rotate(45deg);
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__left {
		width: 100%;
		max-width: 750px;
	}
	&__right {
		width: 100%;
		max-width: 360px;
	}
	.field--name-field-body-title {
		width: 100%;
		max-width: 39%;
		margin-bottom: 17px;
		font-family: $PlayfairDisplay-Bold;
		font-size: 30px;
		line-height: 36px;
		letter-spacing: 0.025em;
	}
	.field--name-body {
		font-family: $Montserrat-Regular;
		font-size: 14px;
		line-height: 26px;
		p {
			margin: 0 0 26px;
		}
	}
	.field--name-field-quote {
		position: relative;
		padding-left: 37px;
		font-size: 20px;
		line-height: 36px;
		letter-spacing: 0.025em;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 27px;
			height: 21px;
			background: transparent url("../images/icons/open-quote.png") no-repeat;
		}
		blockquote {
			padding: 0;
			margin: 0;
			border: 0;
			font-size: inherit;
			q {
				&::before,
				&::after {
					@include vis-hid;
				}
			}
		}
	}
}


// *** MAIN FOOTER ***
// =====================================================================================================================
.footer {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	background-color: $footerBg;
	#block-copyright {
		> .field {
			span {
				display: inline-block;
				color: $lightGrayColor;
				font-size: 12px;
				letter-spacing: 0.025em;
				&:first-child {
					position: relative;
					margin-right: 11px;
					padding-right: 14px;
					&::after {
						content: '';
						position: absolute;
						top: 50%;
						right: 0;
						display: block;
						width: 3px;
						height: 3px;
						margin-top: -1.5px;
						border-radius: 100%;
						background-color: $lightGrayColor;
					}
				}
			}
			a {
				color: $lightGrayColor;
			}
		}
	}
}
